@import url("https://fonts.googleapis.com/css?family=Asap:400,600,700&display=swap");
body {
  font-family: 'Asap', sans-serif;
  font-size: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input:hover, select:hover {
  cursor: pointer;
  outline: none;
}

.header {
  width: 100%;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .header-top {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header-top--bg {
  background-color: #000000;
}

.header-info {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 400px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.header-info__item {
  color: #ffffff;
  text-decoration: none;
}

.header-info__item::after {
  content: '';
  display: block;
  position: relative;
  width: 130%;
  height: 3px;
  background-color: #ffffff;
  -webkit-transform: translateY(13px) translateX(-10%) scale(0);
  transform: translateY(13px) translateX(-10%) scale(0);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header-info__item:hover {
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
}

@media screen and (min-width: 650px) {
  .header-info__item:hover::after {
    display: block;
    -webkit-transform: translateY(13px) translateX(-10%) scale(1);
    transform: translateY(13px) translateX(-10%) scale(1);
  }
}

.header-account {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (min-width: 768px) {
  .header-account {
    max-width: 350px;
  }
}

.header-account__item {
  min-height: 50px;
  background-color: #000000;
  border-left: 1px solid #f3f3f3;
  border-right: 1px solid #f3f3f3;
  border-top: none;
  border-bottom: none;
  outline: none;
  color: #ffffff;
}

.header-account__item:last-child {
  border-right: 1px solid #ffffff;
}

.header-account__item:nth-child(2) {
  border: none;
}

.header-account__item--basket {
  display: none;
}

.header-account__item:hover {
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  border-color: #000000;
  font-weight: 700;
}

.header__basket {
  background-image: url(../img/shopping-cart-white.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 25px 25px;
  text-align: right;
  padding: 0 20%;
}

.header__basket:hover {
  background-image: url(../img/shopping-cart.svg);
}

@media screen and (min-width: 768px) {
  .header__basket {
    background-position: 50% 50%;
  }
}

.navbar-light .navbar-toggle-search {
  margin-right: 10px;
  background: url(../img/search-black.svg) center no-repeat;
  width: 1.6rem;
  height: 1.6rem;
}

@media screen and (min-width: 768px) {
  .navbar-light .navbar-toggle-search {
    display: none;
  }
}

.navbar-light .navbar-toggler {
  border: none;
  outline: none;
  color: #000000;
}

.navbar-light .navbar-toggler-icon {
  background-image: url(../img/burger.svg);
}

.navbar-light .navbar-collapse {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .navbar-light .navbar-nav .nav-item {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: #000000;
}

.navbar-light .navbar-nav .nav-link:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #000000;
}

.navbar-light .navbar-nav .nav-link:after {
  content: '';
  position: relative;
  display: block;
  width: 130%;
  height: 3px;
  background-color: #000000;
  -webkit-transform: translateY(29px) translateX(-10%) scale(0);
  transform: translateY(29px) translateX(-10%) scale(0);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

@media screen and (min-width: 769px) {
  .navbar-light .navbar-nav .nav-link {
    font-size: 0.9rem;
    line-height: 22px;
  }
  .navbar-light .navbar-nav .nav-link:hover {
    color: #000000;
    background-color: transparent;
  }
  .navbar-light .navbar-nav .nav-link:hover::after {
    -webkit-transform: translateY(29px) translateX(-10%) scale(1);
    transform: translateY(29px) translateX(-10%) scale(1);
  }
}

@media screen and (min-width: 992px) {
  .navbar-light .navbar-nav .nav-link {
    font-size: 1.2rem;
  }
}

.search {
  background-color: #000000;
  display: none;
  position: relative;
}

@media screen and (min-width: 768px) {
  .search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.search-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search-form__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: absolute;
  background-image: url(../img/search-black.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 25px 25px;
  border: none;
  outline: none;
}

@media screen and (min-width: 650px) {
  .search-form__search {
    position: relative;
    background-image: none;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 0 20px;
  }
}

.search-form__submit {
  width: 65px;
  height: 60px;
  background-color: #000000;
  border: none;
  border-right: 1px solid #ffffff;
  border-left: 1px solid #000000;
  background-image: url(../img/search-white.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 25px 25px;
}

.search-form__submit:hover {
  background-color: #ffffff;
  background-image: url(../img/search-black.svg);
  border: 1px solid #000000;
}

.search-category {
  width: 165px;
  height: 60px;
  background-color: #000;
  color: #fff;
  border: none;
  border-left: 1px solid #ffffff;
  padding: 0 20px;
  outline: none;
}

.carousel {
  padding: 0 16px;
}

.carousel-indicators li {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.caption {
  margin-bottom: 50px;
  font-size: 2rem;
  text-align: center;
}

@media screen and (min-width: 576px) {
  .caption {
    text-align: left;
  }
}

.bg-grey {
  background-color: #f5f5f5;
}

.trending {
  margin: 50px 0;
  padding: 50px 0;
}

.trending-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 576px) {
  .trending-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.trending-card {
  position: relative;
  max-width: 100%;
  margin: 20px 0;
}

@media screen and (min-width: 576px) {
  .trending-card {
    max-width: 48%;
  }
}

.trending-card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 576px) {
  .trending-card-body {
    padding: 50px;
  }
}

@media screen and (min-width: 768px) {
  .trending-card-body {
    display: none;
  }
}

.trending-card-title {
  color: #fff;
  font-size: 2rem;
}

.trending-card-btn {
  border: none;
  border-radius: 18px;
  padding: 8px 20px;
  max-width: 90px;
}

.trending-card-btn:hover {
  background-color: #cccccc;
}

.trending a {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.trending a:hover ~ .trending-card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products {
  background-color: #f5f5f5;
  padding: 50px 0;
}

.products-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products-card {
  max-width: 260px;
  margin: 10px auto;
}

.products-tabs {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  border: none;
}

.products-tabs-link {
  color: #000;
  font-size: 2rem;
}

.popular-carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  white-space: nowrap;
}

.popular-carousel .card {
  min-width: 340px;
}
/*# sourceMappingURL=index.css.map */