// fonts
@import url('https://fonts.googleapis.com/css?family=Asap:400,600,700&display=swap');
// default styles
body
  font-family: 'Asap', sans-serif
  font-size: 14px
  box-sizing: border-box
input,select 
  &:hover
    cursor: pointer
    outline: none

// header styles
.header
  width: 100%
  // header top styles
  &-top
    display: flex
    justify-content: center
    width: 100%
    @media screen and ( min-width: 768px )
      justify-content: space-between
    // header top background color
    &--bg
      background-color: #000000
  &-info
    display: none
    @media screen and ( min-width: 768px )
      display: flex
      justify-content: space-around
      align-items: center
      max-width: 400px
      flex: 1
    &__item
      color: #ffffff
      text-decoration: none
      &::after
        content: ''
        display: block
        position: relative
        width: 130%
        height: 3px
        background-color: #ffffff
        -webkit-transform: translateY(13px) translateX(-10%) scale(0)
        transform: translateY(13px) translateX(-10%) scale(0)
        -webkit-transition: all 0.2s
        transition: all 0.2s
      &:hover
        cursor: pointer
        color: #ffffff
        text-decoration: none
        @media screen and ( min-width: 650px  )
          &::after
            display: block
            -webkit-transform: translateY(13px) translateX(-10%) scale(1)
            transform: translateY(13px) translateX(-10%) scale(1)
  &-account
    width: 100%
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    @media screen and ( min-width: 768px )
      max-width: 350px
    &__item
      min-height: 50px
      background-color: #000000
      border-left: 1px solid #f3f3f3
      border-right: 1px solid #f3f3f3
      border-top: none
      border-bottom: none
      outline: none
      color: #ffffff
      &:last-child
        border-right: 1px solid #ffffff
      &:nth-child(2)
        border: none
      &--basket
        display: none

      &:hover
        background-color: #ffffff
        color: #000000
        cursor: pointer
        border-color: #000000
        font-weight: 700

  &__basket
    background-image: url(../img/shopping-cart-white.svg)
    background-repeat: no-repeat
    background-position: 50% 50%
    background-size: 25px 25px
    text-align: right
    padding: 0 20%
    &:hover
      background-image: url(../img/shopping-cart.svg)
    @media screen and ( min-width: 768px )
      background-position: 50% 50%
// header navbar styles
.navbar-light
  .navbar-toggle-search
    margin-right: 10px
    background: url(../img/search-black.svg) center no-repeat
    width: 1.6rem
    height: 1.6rem
    @media screen and ( min-width: 768px )
      display: none
  .navbar-toggler
    border: none
    outline: none
    color: #000000
  .navbar-toggler-icon
    background-image: url(../img/burger.svg)
  .navbar-collapse
    text-align: center
  
  .navbar-nav
    .nav-item
      @media screen and ( min-width: 768px )
        margin-left: 10px
        margin-right: 10px
    // Link custom styles
    .nav-link
      color: #000000
      &:hover
        cursor: pointer
        color: #ffffff
        background-color: #000000
      // Link custom underline
      &:after
        content: ''
        position: relative
        display: block
        width: 130%
        height: 3px
        background-color: #000000
        -webkit-transform: translateY(29px) translateX(-10%) scale(0)
        transform: translateY(29px) translateX(-10%) scale(0)
        -webkit-transition: all 0.2s
        transition: all 0.2s
      @media screen and ( min-width: 769px )
        font-size: 0.9rem
        line-height: 22px
        &:hover
          color: #000000
          background-color: transparent
          &::after
            -webkit-transform: translateY(29px) translateX(-10%) scale(1)
            transform: translateY(29px) translateX(-10%) scale(1)
      @media screen and ( min-width: 992px )
        font-size: 1.2rem
// search styles
.search
  background-color: #000000
  display: none
  position: relative
  @media screen and ( min-width: 768px )
    display: flex
  &-form
    width: 100%
    display: flex
    flex-direction: row
    justify-content: space-between
    &__search
      display: flex
      flex: 1
      position: absolute
      background-image: url(../img/search-black.svg)
      background-repeat: no-repeat
      background-position: 50% 50%
      background-size: 25px 25px
      border: none
      outline: none
      @media screen and ( min-width: 650px )
        position: relative
        background-image: none
        border-top: 1px solid #000
        border-bottom: 1px solid #000
        padding: 0 20px
    &__submit
      width: 65px
      height: 60px
      background-color: #000000
      border: none
      border-right: 1px solid #ffffff
      border-left: 1px solid #000000
      background-image: url(../img/search-white.svg)
      background-repeat: no-repeat
      background-position: 50% 50%
      background-size: 25px 25px
      &:hover
        background-color: #ffffff
        background-image: url(../img/search-black.svg)
        border: 1px solid #000000
  &-category
    width: 165px
    height: 60px
    background-color: #000
    color: #fff
    border: none
    border-left: 1px solid #ffffff
    padding: 0 20px
    outline: none

//carousel settings
.carousel
  padding: 0 16px
.carousel-indicators li
  width: 8px
  height: 8px
  border-radius: 50%
// Trending
.caption
  margin-bottom: 50px
  font-size: 2rem
  text-align: center
  @media screen and ( min-width: 576px  )
    text-align: left
.bg-grey
  background-color: #f5f5f5
.trending
  margin: 50px 0
  padding: 50px 0
  &-wrap
    display: flex
    flex-direction: column
    justify-content: space-between
    @media screen and ( min-width: 576px  )
      flex-direction: row
  &-card
    position: relative
    max-width: 100%
    margin: 20px 0
    @media screen and ( min-width: 576px )
      max-width: 48%
    &-body
      display: flex
      position: absolute
      bottom: 0px
      left: 0px
      background-color: rgba(0,0,0,.5)
      width: 100%
      height: 100%
      padding: 20px
      flex-direction: column
      justify-content: flex-end
      @media screen and ( max-width: 576px )
        padding: 50px
      @media screen and ( min-width: 768px )
        display: none
        
    &-title
      color: #fff
      font-size: 2rem
    &-btn
      border: none
      border-radius: 18px
      padding: 8px 20px
      max-width: 90px
      &:hover
        background-color: darken(#ffffff, 20%)
  & a
    z-index: 1
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    &:hover ~ .trending-card-body
      display: flex

// products
.products
  background-color: #f5f5f5
  padding: 50px 0
  &-wrapper
    display: flex
    flex-wrap: wrap
    flex-direction: row
    justify-content: space-between
  &-card
    max-width: 260px
    margin: 10px auto
.products-tabs
  justify-content: center
  margin-bottom: 50px
  border: none
  &-link
    color: #000
    font-size: 2rem

// Popular
.popular-carousel
  display: flex
  overflow: auto
  white-space: nowrap
  .card
    min-width: 340px